/* sidebar  */

.sidebar {
  background-color: rgba(23,202,100,1 );
  width: 22%;
  color: #fff;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 30px;

  .sidebarHeader {
    display: flex;
    justify-content: center;
    /* border: 1px solid red; */
  }

  .sidebarBody {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0;
    /* border: 1px solid red; */


    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 10px;
      width: 100%;
      /* border: 1px solid blue; */

      .divider {
        content: "";
        width: 80%;
        height: 1px;
        background-color: rgba(255,255,255,1);
      }

      li {
        display: flex;
        justify-content: center;
        /* align-items: center; */
        padding: 10px;
        border-radius: 5px;
        cursor: pointer;
        transition: all 0.3s ease;
        width: 80%;
        

        &:hover {
          background-color: rgba(255,255,255,0.3);
        }

        a {
          color: #fff;
          text-decoration: none;
          width: 100%;
          display: flex;
          /* align-items: center; */
          justify-content: center;
        }
      }
    }



  }

}






/* sidebarend */
