/* app config */
.app {
  display: flex;
}


/* app config end */




.portal {
  padding: 20px 50px;
  width: 100dvw;
  height: 100dvh;
  color: #000;
  border: 1px solid red;
}


.menu {
  border:  1px solid red;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10%;
}

.menuoptions {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  border: 1px solid blue;
  height: 80%;
  width: 8%;
  


  .profile{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 60%;
    border-radius: 50%;
    border: 1px solid green;
   
  }

  img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;

  }

  .downarrow {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 40%;
    
  }

}


/* dashboards */

.dashboards {
  margin-top: 10px;
  width: 100%;
  height: 20%;
  border: 1px solid red;

  .cards {
    
    display: flex;
    justify-content: space-between;
    width: 100%;
    
    .card {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 30%;
      height: 100%;
      border: 1px solid blue;
      border-radius: 8px;
      box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
      /* cursor: pointer; */
  
      /* &:hover {
        transform: scale(1.1);
      } */
  }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 10px;
    }
  }

}